body {
    padding-top: 70px;
    padding-bottom: 50px;

    background-color: #fffafa;
    background-image: url("gplay.png");
}

.btn-wrapper {
    padding-top: 150px;
    text-align:center;
}

.btn-start {
    width: 360px;
    height: 120px;
    border-radius: 60px;
    font-size: 2em;
}